.AT {
  color:green;
  font-size:20px;
  background-color:tomato;
  margin-top:0px;
}
p {
  color:blue;
}
.box {
  background-color:beige;
}
.text {
  background-color:tomato;
}
body {
  margin-top:0px;
    margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  
}
