.AT {
  color:white;
  font-size:40px;
  background-color:tomato;
  margin-top:5px;
  width:400px;
}
p {
  color:blue;
}
.box {
  background-color:beige;
}
.text {
  background-color:tomato;
  color:white;
}
body {
  margin-top:0px;
    margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  
}
body {
  background-color;mistyrose;
  background-image:url(img/Silk-Blue-Light.png");
  background-attachment:fixed;
}
